<mat-card>
    <h1>Inicio</h1> 
 </mat-card>
<ng-container>

        <mat-card>
            <button mat-button color="black" (click)="Publica()" >
               Area Publica
            </button>
        </mat-card>

        <mat-card>
            <button mat-button color="black" (click)="Administratica()" >
               Area Administrativa
            </button>
        </mat-card>
        <mat-card>
            <button mat-button color="black" (click)="Alquilar()" >
               Modulo Alquilar
            </button>
        </mat-card>

</ng-container>